<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">Recipe Book</a>
    <button type="button" class="navbar-toggler collapsed" (click)="isCollapsed = !isCollapsed" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [collapse]="isCollapsed">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active" *ngIf="isAuthenticated"><a class="nav-link" routerLink="/recipes">Recipes</a></li>
        <li class="nav-item" routerLinkActive="active" *ngIf="!isAuthenticated"><a class="nav-link" routerLink="/auth">Authenticate</a></li>
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/shopping-list">Shopping List</a></li>
      </ul>
      <ul class="navbar-nav navbar-right">
        <li *ngIf="isAuthenticated">
          <a style="cursor: pointer;" (click)="onLogout()">Logout</a>
        </li>
        <li class="dropdown" dropdown *ngIf="isAuthenticated">
          <a dropdownToggle class="nav-link dropdown-toggle" role="button">Manage <span class="caret"></span></a>
          <ul *dropdownMenu class="dropdown-menu">
            <li><a class="dropdown-item" style="cursor: pointer;" (click)="saveRecipes()">Save Data</a></li>
            <li><a class="dropdown-item" style="cursor: pointer;" (click)="fetchRecipes()">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
</nav>
